    <div>
      <div class="ai-info">

        <h2>Chesker the AI</h2>
        <section class="score">
          <h2>Score: {{wins}}</h2>
        </section>

      </div>

      <div class="container" id="id-container"></div>

      <div class="player-info">

        <h2>Player</h2>
        <section class="score">
          <h2>Score: {{loses}}</h2>
        </section>

      </div>

    </div>