    <div class="player-info">
      <div>

        <h2>Player</h2>
        <p>Points:</p>

      </div>
      <hr>
      <div>

        <h2>Chesker AI</h2>
        <p>Points:</p>

      </div>

    </div>