<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AI Checkers</title>

    <!-- Web Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js" integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

    <!-- Generated Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js" integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script src="/draughts.js" charset="utf-8" defer></script>
    <script src="/templates.js" charset="utf-8" defer></script>
    <script src="server.js" charset="utf-8" defer></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>