.main {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    max-width: 80vw;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f75f00;
    color: #f75f00;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: black;
}



.title-container {
    text-align: left;
    padding: 5px; 
    font-size: 20px;
    margin-left: 20px;
}

/* FOOTER */

.footer {
    background-color: white;
    color: black;
    position: fixed;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12vh;
    text-align: center;
    line-height: 3vh;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
    
}
.horizontal-bulleted {
    display: block; 
    padding: 0;
    page-break-inside: avoid; 
    color: black;
}

.horizontal-bulleted li {
    display: inline;
}

.horizontal-bulleted li:not(:last-child):after { 
    content: " \2022"; /* Adds a bullet between items */
} 

.contact {
    text-decoration: none;
    color: black;
    transition: font-size 0.3s ease; 
}

.contact:hover {
    font-size: 20px;
    color: blue;
}

.contact:active  {
    font-size: 25px;
    color: red;
}

.footer p {
    color: black;
}

/* MAIN CONTAINER */

.about-us-text {
    margin: 100px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: black;
    font-size: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    
    @media (width >= 50em) {
        width: 40%;
    }    

    background-color: white;
    border-style: solid;
    border-radius: 20px;
}

.grid-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    padding: 1vh;
    margin: 0.5vw;
    margin-top: 5vh;
    font-weight: bold;
  }

.dom, .kai, .amit, .khoi {
    border-radius: 8px;
    max-width: 25vw;
    max-height: 28vh;
}

.i1,.i2,.i3,.i4 {
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.i1:hover, .i2:hover, .i3:hover, .i4:hover {
    transform: scale(1.2);
}

.i1:active, .i2:active, .i3:active, .i4:active {
    transform: scale(1.3);
}

.dom { 
    animation: slideIn 1s ease-out forwards; 
}
.kai { 
    animation: slideIn 1.2s ease-out forwards; 
}
.amit { 
    animation: slideIn 1.4s ease-out forwards; 
}
.khoi { 
    animation: slideIn 1.6s ease-out forwards; 
    
}

.caption {
    color: black;
    display: block;
}

.game-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f75f00;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
  
.game-button:hover {
    background-color: #0c719e;
    color: #f75f00;
    transform: scale(1.2);
}

.game-button:active {
    transform: scale(1.4);
}

@keyframes slideIn {
    from {
        translate: 100vw 0;
        scale: 200% 1;
        opacity: 0;
      }
    
      to {
        translate: 0 0;
        scale: 100% 1;
        opacity: 1;
      }
  }