header {
  background-color: #000000;
  color: #fff;
}

.site-title {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 5px;
  color: #03a9f4;
}

.column p {
  text-decoration: none;
  color: #000000;
}

header a:hover {
  color: #0c719e;
}

p {
  text-decoration: none;
  color: #e2f6ff;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

header p {
  color: #f75f00;
}

header a {
  color: #016d0f;
}

html, body {
  font-size: 16px;
  background-color: #f75f00; 
}

html hr, body hr {
  border: 0;
  height: 2px;
  background-color: #000000;
  background-image: linear-gradient(to right, #000000, #f75f00); 
}

div.column {
  position: relative;
  float: left;
  overflow: auto;
  height: 100%;
  min-height: 100%;
  width: 30%; 
}

div.team-page {
  text-align: right;
  float: right;
}

.container {
  display: grid;
  grid-template-columns: .25fr .25fr .25fr .25fr .25fr .25fr .25fr .25fr .25fr .25fr;
  grid-gap: 5px;
}
.container div {
  background-color: rgb(0, 0, 0);
  aspect-ratio: 1;
}

.container img {
  height: 50px;
  width: 50px;
}